@import url("//fonts.googleapis.com/css?family=Quando");
@import './_variables.scss';
// Bootstrap variables and mixins must be available everywhere
@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/_mixins.scss';
// We also defines a few mixins internally
@import './_mixins.scss';
@import './_animations.scss';
