@import url("//fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700&display=swap");
@import './_variables.scss';
// Bootstrap variables and mixins must be available everywhere
@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/_mixins.scss';
// We also defines a few mixins internally
@import './_mixins.scss';
@import './_animations.scss';
