$primary: #F8B700;
$secondary: #505050;
$success: #28a745;
$info: #17a2b8;
$warning: #F4EDEA;
$danger: #dc3545;
$light: #F0F0F0;

$body-bg: #fff;
$body-color: #505050;

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial,sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
$font-family-serif: "Source Sans 3", "Neue Helvetica", "Helvetica", sans-serif;

$headings-font-family: $font-family-serif;
$headings-font-weight: 500;
$font-family-base: $font-family-sans-serif;
$font-size-base: .9rem;

$h1-font-size: $font-size-base * 2.75;
$h2-font-size: $font-size-base * 2.25;
$h3-font-size: $font-size-base * 2;
$h4-font-size: $font-size-base * 1.65;
$h5-font-size: $font-size-base * 1.4;
$h6-font-size: $font-size-base * 1.1;
$enable-rounded: true;
$border-radius: 0.25rem;
$border-radius-sm: 0.2rem;
$border-radius-lg: 0.375rem;
$border-radius-xl: 0.5rem;
$border-radius-pill: 50rem;

$text-muted: #717171;

$color-transition-duration: 300ms;
$color-transition-speed: 5000ms;

$input-focus-border-color: $secondary;
$link-hover-color: darken($warning, 10%);
$tooltip-max-width: 300px;
